<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.naari">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dan.naari.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dan.naari.Registration"/>
        <activity android:name="com.dan.naari.Login"/>
        <activity android:name="com.dan.naari.HowToSwipe"/>
        <activity android:name="com.dan.naari.TrigActivity"/>
        <activity android:name="com.dan.naari.helplineCall" />
        <activity android:name="com.dan.naari.AddRelative" />
        <activity android:name="com.dan.naari.MainScreen" />
        <activity android:name="com.dan.naari.MainActivity" />
        <activity android:name="com.dan.naari.ViewListContents" />
    </application>

</manifest>